/*
By Ivan Hanloth
Easy-Send
Github:https://github.com/IvanHanloth/Easy-Send
Gitee:https://gitee.com/IvanHanloth/Easy-Send
2022/10/16
*/
.qrcode {
	width: 120px;
}

.info {
	margin: 20px;
	text-align: center
}

.code {
	font-size: 35px;
	font-family: "Microsoft Yahei";
	font-weight: bold;
	line-height: 30px;
	letter-spacing: 10px;
	color: #00e9d2;
}