
*{
    font-family: "微软雅黑";
}
.check-pack {
    margin:2% 16.6%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #eee0ee;
    padding: 1% 5%;
    line-height: 23px;
}
.table{
    width: 100%;
    text-align:center;
}

.input-pack {
    margin:2% 16.6%;
    border-style: solid;
    border-width: 2px;
    border-radius: 10px;
    border-color: #eee0ee;
    padding: 1% 5%;
    line-height: 23px;
}
input{
    border-style: solid;
    width: 100%;
    height: 33.3px;
    border-width: 2px;
    border-radius: 10px;
    border-color: #eeeeee;
    margin: 13.33px 0px;
}
textarea{
    border-style:solid;
    width:100%;
    height:50px;
    border-width:2px;
    border-radius:10px;
    border-color:#eeeeee;
}
button{
    font-size: 10px;
    width: 80px;
    text-align: center;
    border: 1px solid transparent;
    border-radius: 25px;
    height: 26.33px;
}
.button{
    text-align:center;
}
lable{
    text-align:left;
}